/* 3.BENEFITS START */

.benefits__h2 {
    text-align: center;
}

.benefits__items {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.benefits__item {
    width: 31%;
    padding: 20px 31px;

    background-color: var(--middleDirtyWhite);
}

.benefits__item img {
    width: 55px;
    height: 55px;
}

.benefits__h3 {
    margin: 24px 0 13px;

    color: var(--horses);
}

.benefits__p {
    font-size: var(--text-14);
}


/* 3.BENEFITS END */

/* 6.ABOUT PAGE MEDIA START */

/* 1140px */
@media(max-width: 1140px){ 

     .benefits__items {
        flex-direction: column;
        align-items: center;
    }

    .benefits__item {
        width: 70%;
        margin: 0 auto 30px;
    }

    .benefits__items :last-child {
        margin: 0 auto;
    }

}

/* 6.ABOUT PAGE MEDIA START */