/* 1.CONTANCT START */

.ymaps-2-1-79-map {
	filter: grayscale(1);
	-ms-filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

.contacts.container {
    display: flex;
    justify-content: space-between;
    margin: 52px auto 0;
}

.contacts__h2.common-h2 {
    padding: 0;
}

.contacts__map {
    width: 50%;
    height: 500px;
}

.contacts__wrapper {
    width: 40%;
}

.contacts__item {
    display: flex;
    align-items: center;
    margin: 29px 0 0;

    color: var(--deepTaupe);
    font-size: var(--text-18);
    line-height: 150%;
    text-decoration: none;
}

.contacts__item img {
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
    padding: 5px;
}

.contacts__p {
    margin: 130px 0 0;
}

.contacts__btn.common-btn_peach {
    width: 40%;
    margin: 40px 0 0;
    padding: 15px 10px;
}

/* 1.CONTACTS END */

/* 2.MEDIA START */

/* 1140px */

@media(max-width: 1140px) {
    .contacts.container {
        margin: 52px auto 0;
    }
}

/* 930px */
@media(max-width: 930px) {
    .contacts.container {
        margin: 0 auto;
        padding: 100px 0 0;
        position: relative;
    }

    .contacts__item {
        margin: 20px 0 0;
    }

    .contacts__p,
    .contacts__btn.common-btn_peach {
        margin: 30px 0 0;
    }

    .contacts__wrapper {
        margin: 0 auto 30px;
    }

    .contacts {
        flex-direction: column;
        align-items: center;
    }

    .contacts__map{
        width: 100%;
        height: 400px;
    }

    .contacts__wrapper {
        width: 100%; 
        margin: 0 auto ;
        padding: 0 34px;
    }

    .contacts__h2.common-h2 {
        position: absolute;
        top: 0;
        margin: 0 auto;
        padding-top: 15px;
        width: calc(100% - 68px);
        left: 34px;

        text-align: center;
    }

    .contacts__p {
        margin: 50px 0 0;
    }

    .contacts__btn.common-btn_peach {
        width: 30%;
    }
}

/* 508px */
@media(max-width: 508px) {
    .contacts__btn.common-btn_peach {
        width: 40%;
    }
}

/* 460px */
@media(max-width: 460px) {
    .contacts__wrapper {
        width: 100%;
        padding: 0 20px;
    }

    .contacts__btn.common-btn_peach  {
        /* width: 100%; */
        margin: 30px auto 0;
    }
    
    .contacts__map {
        width: 100%;
        height: 200px;
    }

    .contacts__h2.common-h2 {
        width: calc(100% - 40px);
        left: 20px;
    }
}

/* 2.MEDIA END */