.footer {
    margin: 52px 0 0;
    padding: 44px 0 70px;
    background-color: var(--peach);
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer__column {
    width: 19%;
}

.footer__menu {
    width: 30%;

    font-size: var(--text-14);
}

.footer__column {
    font-size: var(--text-14);
}

.footer__logo {
    display: flex;
    align-items: center;
    width: 100%;
}

.footer__logo img {
    width: 30%;
}

.footer__logo div {
    margin-left: 20px;

    font-size: var(--text-14);
    font-family: var(--bold);

    color: #fff;
    text-transform: uppercase;
    line-height: 150%;
}

.footer__column a {
    color: var(--middleDirtyWhite);
    text-decoration: none;
}

.footer__column li {
    padding: 0 0 21px;
}

.footer__services-h2 {
    margin: 0 0 25px;

    font-size: var(--text-14);
    font-family: var(--bold);

    color: #fff;
    text-transform: uppercase;
}

.footer__contacts-item a {
    display: flex;
    align-items: center;

    font-size: var(--text-14);
}

.footer__contacts-item a img {
    width: 20px;
    height: 20px;
    margin: 0 20px 0 0;
}

a.footer__order-btn {
    display: block;
    padding: 15px 10px;
    margin: 34px 0 0;

    font-size: var(--text-15);
    
    color: var(--peach);
}

/* MEDIA START */

/* 1140px */

@media(max-width: 1140px){
    .footer .container {
        padding: 0 34px;
    }
}

/* 879px */

@media(max-width: 879px){
    .footer__menu,
    .footer__services {
        display: none;
    }

    .footer__column {
        width: 50%;
        margin: 0 auto;
    }

    .footer__contacts-item a {
        justify-content: center;
    }

    .footer {
        margin: 50px 0 0;
        padding: 30px 0 10px;
    }

    a.footer__order-btn {
        margin: 20px 0 0;
    }

    .footer__contacts-item a {
        font-size: var(--text-18);
    }

    .footer__logo {
        /* margin: 0 auto 20px; */
        flex-direction: column-reverse;
    }

    .footer__logo br:first-child {
        display: none;
    }

    .footer__logo div{
        margin: 0 0 20px;

        font-size: var(--text-15);

        text-align: center;
    }

    .footer__logo img {
        width: 20%;
    }
}

/* 600px */

@media(max-width: 600px){
    .footer__column {
        width: 100%;
    }        
}


/* MEDIA END */