/* 1.LICENSES START */
.licenses__h2 {
    text-align: center;
}

.licenses__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-width: 0;
}

.licenses__item {
    width: 20%;
    margin-left: 20px;
}

.licenses__item:first-child {
    margin-left: 0;
}

.licenses__item img {
    width: 100%;
}

/* 1.LICENSES END */

/* 2.MEDIA START */

/* 1140px */

@media(max-width: 1140px) {
    .licenses__items {
        /* flex-direction: column; */
    }

    .licenses__item {
        margin-bottom: 35px;
    }
}

/* 600px */
@media(max-width: 600px) { 
    .licenses.container {
        width: 100%;
    }

    .licenses__items {
        display: block;
        width: 100%;
    }

    .licenses__item {
        width: 100%;
    }

    .licenses__item img {
        width: 90%;
    }

    .licenses .slick-track {
        display: flex;
        align-items: center;
    }

    .licenses .slick-list {
        overflow: hidden;
    }

    .licenses .slick-track li:nth-child(2n) {
        text-align: right;
    }

}

/* 453px */
@media(max-width: 453px) { 
    .licenses__item {
        width: 50%;
    }
}

/* 2.MEDIA END */