/* 9.REVIEWS START */

.reviews {
    margin: 52px 0 0;
    padding: 0px 0 63px;
    
    background: url('../images/reviews-bkg.png') center no-repeat;
    background-size: cover;
}

.reviews__h2.common-h2 {
    color: #fff;
}
.reviews .container {
    max-width: calc(100% - (100% - 1140px)/2);
    padding: 0;
    padding-left: calc((100% - 1141px)/2);
}

/* 9.1.REVIEWS SLIDER START */

.reviews__slider-item {
    position: relative;
    margin: 40px 32px 40px 0;
    padding: 20px 70px 118px 40px;
    
    background-color: #fff;
}

.reviews__quote::before {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 0 25px;

    content: ' ';
    background: url('../images/left-quotes-sign.png') center no-repeat;
    background-size: 100%; 
}

.reviews__person {
    position: absolute;
    display: flex;
    align-items: stretch;
    bottom: 30px;
}

.reviews__person img {
    width: 57px;
    height: 57px;
    margin: 0 18px 0 0 ;
}

.reviews__full-name {
    margin: 8px 0 10px;
    font-family: var(--bold);
    font-size: var(--text-15);

    color: var(--peach);
}

.reviews__date {
    font-size: var(--text-15);

    color: var(--pastelGray);
}


/* 9.1.REVIEWS SLIDER END */

/* 9.REVIEWS END */

/* 11.MAIN PAGE MEDIA START */

/* 1140px */

@media(max-width: 1140px) { 
    .reviews .container {
        width: 100%;
        padding: 0 0 0 34px;
    }

    .reviews__slider-item {
        padding: 20px 20px 118px;
    }
}

/* 930px */
@media(max-width: 930px) { 
    .reviews .container {
        width: 100%;
    }

    .reviews__h2.common-h2 {
        width: 70%;
    }
    
    .reviews__slider-item {
        margin-top: 0;
    }
}

/* 460px */
@media(max-width: 460px) { 
    .reviews .container {
        padding: 0 20px;
    }

    .reviews__slider-item {
        margin: 0 0 20px;
    }
}

/* 11.MAIN PAGE MEDIA END */