/* 1.SERVICES START */

.services__h2 {
    text-align: center;
}

.services__items {
    display: flex;
    justify-content: space-between;
}

.services__item {
    width: 15%;

    border: 1px solid  var(--middleDirtyWhite);
    text-align: center;
}

.services__item a{
    font-family: var(--semiBold);
    font-size: var(--text-18);

    color: var(--deepTaupe);
    text-decoration: none;
}

.services__img {
    width: 100%;
    height: 120px;
    padding: 20px 0;
}

.services__img svg path {
    transition: 0.3s;
} 

.services__item:hover .services__img svg path {
    fill: #fff;
    transition: 0.3s;
} 

.services__item:hover .services__img.services__agent svg path:last-child {
    stroke: #fff;
    fill: transparent;
}

.services__item:hover .services__img.services__agent svg path:nth-child(2) {
    fill: transparent;
}

.services__name {
    padding: 15px 25px;
}

.services__item:hover .services__img{
    background-color: var(--peach);
    transition: 0.3s;
}

/* 1.SERVICES END */

/* 2.MEDIA START */

/* 1140px */

@media(max-width: 1140px) {
     .services__items {
        display: grid;
        width: 100%;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    } 

    .services__item {
        width: 100%;
    }
}

/* 927px */
@media(max-width: 927px) {

    .services__img {
        height: auto;
    }
}

/* 483px */
@media(max-width: 483px) {
    .services__items {
        grid-gap: 15px;
        width: 100%;
    }

    .services__name {
        padding: 15px;

        font-size: var(--text-15);
    }

    .services__img svg {
        width: 40px;
        height: 40px;
    }

    .services__img {
        padding: 10px 0;
    }
}

/* 2.MEDIA END */