/* 6.1.SLIDER START */

.slider__wrapper {
    width: 40%;
}

.slider {
    position: relative;
}

.slick-track {
    display: flex;
}

.slider__item {
    position: relative;
}

.slick-list {
    overflow: hidden;
}

.slider__tab {
    display: flex;
    align-items: center;
}

.slider__tabs {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.slider__tabs hr {
    position: absolute;
    width: 100%;
    height: 2px;
    z-index: 0;


    border: 0px solid transparent;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23A8544AFF' stroke-width='3' stroke-dasharray='3%2c 16' stroke-dashoffset='30' stroke-linecap='square'/%3e%3c/svg%3e");
}

.slider__tab a{
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    padding: 7px;
    z-index: 1;

    font-family: var(--bold);
    font-size: var(--text-24) ;

    background-color: var(--NewYorkPink);
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    cursor: default ;
}

a.slider_active-tab {
    display: flex;
    align-items: center;

    background-color: var(--peach);
    transform: scale(1.7);
    transition: 0.3s;
}

.slider__h1 {
    margin: 40px 0 5px;
    font-family: var(--bold);
    font-size: var(--text-24);

    color: var(--horses);
}

.slider__item p{
    margin: 20px 0 30px;
}

.slick-next {
    position: absolute;
    top: 100%; 
    left: 45px;

    background: url("../images/next-active-arrow.png") center no-repeat;
    background-size: 30%;
}

.slick-prev {
    position: absolute;
    top: 100%;

    background: url("../images/prev-active-arrow.png") center no-repeat;
    background-size: 30%;
}

.slick-prev.slick-disabled{
    background: url("../images/prev-arrow.png") center no-repeat;
    background-size: 30%;
    background-color: var(--middleDirtyWhite);
}

.slick-next.slick-disabled{
    background: url("../images/next-arrow.png") center no-repeat;
    background-size: 30%;
    background-color: var(--middleDirtyWhite);
}

.slick-arrow {
    width: 40px;
    height: 40px;

    font-size: 0px;

    border: 0px solid transparent;
    background-color: var(--middleDirtyWhite);
    transition: .3s;
}

.slick-arrow:hover {
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   transition: .3s;
}

.slick-arrow.slick-disabled:hover {
    box-shadow: 0 0 0 0 ;
}

/* 6.1.SLIDER END */

/* 11.MAIN PAGE MEDIA START */

/* 1140px */

@media(max-width: 1140px) {
    .slider__wrapper {
        width: 70%;
        margin: 65px auto 0;
    }
}

/* 927px */
@media(max-width: 927px) { 
    .slider__wrapper {
        margin: 110px auto 75px;
    }
}

/* 453px */
@media(max-width: 453px) { 
     .slider__tab a {
        width: 25px;
        height: 25px;
        padding: 4px;

        font-size: var(--text-18);
    }

}