/*
--------------------------------------------------------------
COMMON STYLES START
--------------------------------------------------------------
*/

/* 1.IMPORTS START */

/* 1.1.NORMALIZE CSS START */

@import url('normalize.css');

/* 1.1NORMALIZE CSS END */

/* 1.2.HEADER START */

@import url('header.css');

/* 1.2.HEADER END */

/* 1.3.FOOTER START */

@import url('footer.css');

/* 1.3.FOOTER END */

/* 1.4.LICENSES-BLOCK START */

@import url('licenses.css');

/* 1.4.LICENSES-BLOCK END */

/* 1.5.SERVICES-BLOCK START */

@import url('services.css');

/* 1.5.SERVICES-BLOCK END */

/* 1.6.CONTACTS-BLOCK START */

@import url('contact-part.css');

/* 1.6.CONTACTS-BLOCK END */

/* 1.7.HAVE A QUESTION BLOCK START */

@import url('have-a-question.css');

/* 1.7.HAVE A QUESTION BLOCK END */

/* 1.8.SMALL SLIDER BLOCK START */

@import url('small-slider.css');

/* 1.8.SMALL SLIDER BLOCK END */

/* 1.9.BENEFITS BLOCK START */

@import url('benefits.css');

/* 1.9.BENEFITS BLOCK END */

/* 1.10.TARIFFS BLOCK START */

@import url('tariffs.css');

/* 1.10.TARIFFS BLOCK END */

/* 1.11.REVIEWS BLOCK START */

@import url('reviews.css');

/* 1.11.REVIEWS BLOCK END */

/* 1.IMPORTS END */

:root  {
    /*  Arial, Helvetica, sans-serif; */
    --regular: 'OpenSans';
    --light: 'OpenSansLight';
    --bold: 'OpenSansBold';
    --semiBold: 'OpenSansSemiBold';
    --max-width: 1140px;
    --text-48: calc( (100vw - 300px)/(1140 - 300) * (48 - 40) + 40px);
    --text-36: calc( (100vw - 300px)/(1140 - 300) * (36 - 30) + 30px);
    --text-24: calc( (100vw - 300px)/(1140 - 300) * (24 - 21) + 21px);
    --text-20: calc( (100vw - 300px)/(1140 - 300) * (20 - 18) + 18px);
    --text-18: calc( (100vw - 300px)/(1140 - 300) * (18 - 15) + 15px);
    --text-15: calc( (100vw - 300px)/(1140 - 300) * (15 - 13) + 13px);
    --text-14: calc( (100vw - 300px)/(1140 - 300) * (14 - 12) + 12px);
    --text-12: calc( (100vw - 300px)/(1140 - 300) * (12 - 10) + 10px);
    --peach: #A8544A;
    --rosyBrown: #C8928C;
    --dirtyRosyBrown: #BB928D;
    --gray: #BEBEBE;
    --lightGray: #929292;
    --pastelGray: #D2C4C2;
    --dirtyWhite: #EFEFEF;
    --middleDirtyWhite: #F2EFEE;
    --middleLightGray: #BEB4B3;
    --deepTaupe: #816B68;
    --NewYorkPink: #CD8A82;
    --horses: #603631;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: var(--regular);
    outline: none;
}


button {
    cursor: pointer;
}

li {
    list-style: none;
}

.container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 14px;
}

.common-border-button {
    padding: 15px 25px;

    font-size: var(--text-15);

    border: 1px solid var(--peach);
    background-color: transparent;
    color: var(--peach);
    border-radius: 45px;
}

a.common-border-button:visited {
    color: var(--peach);
}

.page {
    padding: 160px 0 0;
}

.common-btn_white,
.common-btn_peach {
    display: block;
    padding: 15px;

    border-radius: 48px;
    border: 0px solid transparent;
    font-size: var(--text-15);

    text-align: center;
    text-decoration: none;
}

.common-btn_peach {
    color: #fff;
    background-color: var(--peach);
}
.common-btn_white {
    color: var(--peach);
    background-color: #fff;
}

a.common-btn_white:visited {
    color: var(--peach);
}

.common-h1 {
    margin: 0;
    padding: 52px 0;

    font-family: var(--bold);
    font-size: var(--text-48);
    line-height: 57px;

    color: var(--horses)
}

.common-h2 {
    padding: 52px 0;

    font-family: var(--bold);
    font-size: var(--text-36);
    line-height: 40px;

    color: var(--horses);
}

.common-h3{
    font-family: var(--bold);
    font-size: var(--text-18);
    line-height: 24px;

    color: var(--peach);
}

.common-p {
    font-size: var(--text-15);
    line-height: 23px;

    color: var(--deepTaupe);
}

.common-mini-banner {
    background: url('../images/common-mini-banner.png') center no-repeat;
    background-size: cover;
}

.fancybox__container  .fancybox__backdrop {
    background: rgba(45, 33, 32, 0.7);
}

.fancybox__content>button.carousel__button.is-close {
    top: 15px;
    right: 15px;
    
    color: var(--horses);
}

.bread-crumbs {
    display: flex;

    margin: 61px auto 0;
}

.bread-crumbs__item a {
    font-size: var(--text-15);

    color: var(--NewYorkPink);
    text-decoration: none;
}

.bread-crumbs__item a::after {
    content: ' / ';
    margin: 0 5px 0 0;
}

.bread-crumbs__item.bread-crumbs__item_active a {
    color: var(--horses);
}

.bread-crumbs__item.bread-crumbs__item_active a::after {
    display: none;
}

.common-ol li {
    display: flex;
    align-items: center;
    margin: 15px 0;
    counter-increment: custom;

    font-family: var(--bold);
    font-size: var(--text-15);

    color: var(--horses);
}

.common-ol li::before {  
    content: counter(custom, decimal-leading-zero);  
    margin: 0 10px 0 0;
    padding: 5px;

    font-family: var(--bold);
    font-size: var(--text-15);

    background-color: var(--peach);
    color: #fff;
}

/* 2.COMMON MEDIA START */

/* > 1140px */
@media(min-width: 1140px) {

    :root{
        --text-48: 48px;
        --text-36: 36px;
        --text-20: 20px;
        --text-24: 24px;
        --text-18: 18px;
        --text-15: 15px;
        --text-14: 14px;
        --text-12: 12px;
    }

    .slider__tabs hr {
        height: 2px;
    }

}

/* 453px */

@media(max-width: 453px){
    .page {
        padding: 120px 0 0;
    }

    .common-h2 {
        font-size: var(--text-24);
    }

    .common-border-button {
        font-size: var(--text-14);
    }

    .common-h1 {
        font-size: var(--text-36);
    }
}

/* 2.COMMON MEDIA END */


/* 
--------------------------------------------------------------
COMMON STYLES END 
--------------------------------------------------------------
*/

/* 
--------------------------------------------------------------
MAIN PAGE START
--------------------------------------------------------------
*/


/* 3.MAIN BANNER START */

.banner {
    height: 800px;

    background:url("../images/main-banner.png") center no-repeat;
    background-size: cover;
}

.banner__box {
    width: 68%;
    margin: 70px 0 0 0 ;
    padding: 60px;
    
    background: url('../images/banner-bkg.png') center no-repeat;
    background-size: 100%;
}

.banner__h1 {
    width: 85%;

    font-size: var(--text-48);
    font-family: var(--bold);
    text-transform: uppercase;

    color: #fff;
} 
.banner__p {
    width: 70%;
    margin: 30px 0;

    font-family: var(--light);
    font-size: var(--text-15);
    line-height: 23px;

    color: var(--pastelGray);
}
.banner__calc {
    margin-top: 60px;
    padding: 15px 30px;
    width: 30%;
}

/* 3.MAIN BANNER END */

/* 4.HOW WE WORK START */

.how-we-work__h2 {
    text-align: center;
}

.how-we-work__info-box {
    display: flex;
    align-items: center;
}

.how-we-work__text-box {
    width: 50%;
    margin: 0 100px 0 0;
}

.how-we-work__text-box p {
    margin: 25px 10px 0 0px
}

.how-we-work__video {
    width: 555px;
    height: 332px;
}

/* 4.HOW WE WORK END */

/* 5.WHY BLOCK START */

.why-block {
    margin: 52px auto 0;
    background-color: var(--middleDirtyWhite);
    text-align: center;
}

.why-block__items {
    display: flex;
    justify-content: space-between;
}

.why-block__item {
    width: 23%;
    padding: 33px 13px 50px;

    transition: 0.3s;
    box-sizing: border-box;
    border-bottom: 9px solid transparent;
}

.why-block__item:hover {
    background-color: #fff;
    border-bottom: 9px solid var(--peach);

    transition: 0.3s;
}

.why-block__item img {
    width: 45px;
    height: 45px;
}

.why-block__h3 {
    margin: 20px 0;
}

/* 5.WHY BLOCK END */

/* 6.PROCEDURE START */

.procedure.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.procedure__info-box {
    width: 40%;
}

.procedure__p {
    margin: 16px 0 0;
}

.procedure__order-btn {
    width: 45%;
    padding: 15px;
    margin: 45px 0 0 0;
}


/* 6.PROCEDURE END */


/* 8.PARTNERS START */

.partners__h2 {
    text-align: center;
}

.partners__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.partners__item {
    width: 20%;
}

.partners__item img {
    width: 100%;
}
.partners__item-mini {
    width: 15%;
}

/* 8.PARTNERS END */


/* 11.MAIN PAGE MEDIA START */

/* 1140px */

@media(max-width: 1140px) {
    .banner__box {
        background-size: cover;
    }
    
    .how-we-work__info-box {
        flex-direction: column;
    }

    .how-we-work__text-box {
        width: 90%;
        margin: 0 auto;
    }
    
    .how-we-work__video {
        width: 90%;
        height: 400px;
        margin: 65px auto 0
    }
    
    .procedure.container {
        flex-direction: column;
        padding: 0 0 52px;
    }

    .procedure__info-box {
        width: 70%;
    }
   
    .partners__items {
        width: 90%;
        margin: 0 auto;
    }

    .partners__item {
        width: 15%;
    }
   
    
}

/* 927px */
@media(max-width: 927px) {
    .banner__box {
        margin: 0;
    }

    .banner__calc {
        width: 50%;
    }

    .why-block__items {
        flex-direction: column;
    }

    .why-block__item {
        width: 70%;
        margin: 0 auto;
    }

}

/* 673px */
@media(max-width: 673px) {
    .banner__box {
        width: 90%;
    }

    .procedure__order-btn {
        width: 100%;
    }
}

/* 453px */
@media(max-width: 453px) {
    .banner__h1 {
        width: 100%;

        font-size: var(--text-36);

        line-height: 1.5;
    }

    .banner__box {
        padding: 30px;
        width: 100%;
    }
    
    .banner__p {
        width: 100%;
    }

    .banner__calc {
        width: 70%;
        margin: 60px auto 0;
    }

    .how-we-work__video {
        height: 250px;
    }

    .partners__item {
        width: 20%;
    }

}

/* 11.MAIN PAGE MEDIA END */

/* 
--------------------------------------------------------------
MAIN PAGE END
--------------------------------------------------------------
*/

/* 
--------------------------------------------------------------
ABOUT PAGE START
--------------------------------------------------------------
*/

/* 1.ABOUT COMAPNY START */

.about-company h1 {
    text-align: center;
}

.about-company__info-box {
    display: flex;
}

.about-company__info-box img {
    width: 50%;
}

.about-company__text-box {
    width: 50%;
    padding: 0 54px 0 0;
}

/* 1.ABOUT COMPANY END */

/* 2.WHY OUR COMPANY START */

.why-our-company {
    margin: 52px 0 0;
}

.why-our-company .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.why-our-company__h2 {
    width: 40%;

    color: #fff;
} 

.why-our-company__p {
    width: 50%;

    color: #fff;
}

/* 2.WHY OUR COMPANY END */


/* 4.OUR EMPLOYEES START */

.employees__order-box {
    background: url('../images/employees-block-bkg.png') center no-repeat;
    background-size: cover;
}

.employees__h2 {
    text-align: center;
}

.employees__info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.employees__p {
    margin: 0 0 20px;
}

.employees__text-box {
    width: 50%;
}

.employees__order-box {
    width: 40%;
    padding: 32px;

    text-align: center;
}

.employees__order-box img {
    width: 60px;
    height: 60px;
}

.employees__h3 {
    margin: 17px 0 22px;

    font-family: var(--semiBold);
    font-size: var(--text-18);

    color: #fff;
    line-height: 23px;
}

.employees__btn {
    width: 70%;
    margin: 0 auto;
    padding: 15px;
}

/* 4.OUR EMPLOYEES END */


/* 6.ABOUT PAGE MEDIA START */

/* 1140px */
@media(max-width: 1140px){
    .about-company__info-box {
        flex-direction: column;
    }

    .about-company__text-box {
        width: 90%;
        margin: 0 auto 52px;
    }

    .about-company__info-box img {
        width: 50%;
        margin: 0 0 0 23%;
    }

    .why-our-company .container {
        flex-direction: column;
    }

    .why-our-company__h2 {
        width: 90%;
        margin: 0 auto;

        text-align: center;
    }

    .why-our-company__p {
        width: 90%;
        margin: 0 auto 52px;

        text-align: center;
    }

    .employees__info-box {
        flex-direction: column;
    }

    .employees__text-box {
        width: 90%;
    }

    .employees__order-box {
        width: 90%;
    }

    .employees__text-box :last-child {
        margin: 0 0 52px;
    }
}

/* 625px */

@media(max-width: 625px) {
    .about-company__info-box img {
        width: 70%;
        margin: 0 0 0 11%;
    }

    .employees__btn {
        width: 100%;
    }
}

/* 6.ABOUT PAGE MEDIA END */

/* 
--------------------------------------------------------------
ABOUT PAGE END
--------------------------------------------------------------
*/

/* 
--------------------------------------------------------------
SIMPLE-SERVICE PAGE START
--------------------------------------------------------------
*/

/* 1.SHORT INFO START */

.short-info.container {
    display: flex;
    justify-content: space-between;
    margin: 52px auto 0;
}

.short-info img {
    width: 40%;
}

.short-info__info-box {
    width: 50%;
}

.short-info__h2.common-h2{
    margin: 0;
    padding: 0 0 52px;
}

.short-info__items {
    margin: 0 0 30px;
}

.short-info__items td.short-info__item-name {
    padding: 20px 0 0;

    font-family: var(--bold);
    font-size: var(--text-15);

    color: var(--horses);
}

.short-info__items td.short-info__item-value {
    padding: 20px 0 0 40px;

    font-size: var(--text-15);

    color: var(--peach);
}

.short-info__btn {
    width: 40%;
}

/* 1.SHORT INFO END */

/* 2.FULL INFO START */

.full-info__h2 {
    width: 50%;
    margin: 0 auto;
}

.full-info__info-boxes {
    display: flex;
    justify-content: space-between;
}

.full-info__info-box {
    width: 48%;
}

.full-info__p {
    margin: 0 0 20px;
}

/* 2.FULL INFO END */

/* 3.MINI HELP BANNER START */

.mini-help-banner {
    margin: 52px auto 0;
}

.mini-help-banner .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mini-help-banner__h2 {
    width: 50%;
    
    color: #fff;
}

/* 3.MINI HELP BANNER END */

/* 
--------------------------------------------------------------
SIMPLE-SERVICE PAGE END
--------------------------------------------------------------
*/



/* 
--------------------------------------------------------------
FONTS START 
--------------------------------------------------------------
*/

/* 1.OPEN SANS REGULAR START */
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype'),
        url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* 1.OPEN SANS REGULAR END */

/* 2.OPEN SANS LIGHT START */

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/OpenSans-Light.woff') format('woff'),
        url('../fonts/OpenSans-Light.ttf') format('truetype'),
        url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* 2.OPEN SANS LIGHT END */

/* 3.OPEN SANS BOLD START */

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.ttf') format('truetype'),
        url('../fonts/OenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* 3.OPEN SANS BOLD END */

/* 4.OPEN SANS SEMI BOLD START */

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('../fonts/OpenSans-SemiBold.eot');
    src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiBold.woff') format('woff'),
        url('../fonts/OpenSans-SemiBold.ttf') format('truetype'),
        url('../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



/* 4.OPEN SANS SEMI BOLD END */

/*
--------------------------------------------------------------
FONTS END 
--------------------------------------------------------------
*/