/* 7.PRICES START */

/* 7.1.TABS OF PRICES START */

.prices {
    position: relative;
}

.prices__h2 {
    text-align: center;
}

.prices__tabs {
    display: flex;
    width: 100%;
}

.prices__tab {
    width: 50%;
}

.prices__tab a {
    display: block;
    width: 100%;
    padding: 31px;

    font-size: var(--text-24);
    font-family: var(--bold);

    color: var(--pastelGray);
    text-decoration: none;
    text-align: center;
}

.prices__tabs hr {
    height: 2px;

    border: 0px solid transparent;
    background-color: var(--middleDirtyWhite);

}

a.prices__active-tab {
    color: var(--peach);
}

hr.prices__active-tab {
    display: block;
    height: 3px;

    border-radius: 3px;
    background-color: var(--peach) ;
}

/* 7.1.TABS OF PRICES END */

/* 7.2.PRICES TARIFFS START */

.prices__tariffs {
    position: absolute;
    min-width: 0;
    opacity: 0;
    visibility: hidden;
    width: calc(100% - 28px);
    display: flex;
    justify-content: space-between;
    margin: 52px 0 0;
}

.prices__tariffs.active-tariff {
    position: relative;
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.prices__tariff {
    position: relative;
    width: 23%;
    padding: 0 17px 170px;
    margin-left: 20px;

    border: 2px solid var(--middleDirtyWhite);
    text-align: center;
}

.prices__tariff:first-child {
    margin: 0;
}


.prices__tariff-h2{
    padding: 28px 0 45px ;
    margin: -2px 0 30px;

    font-size: var(--text-15);
    font-family: var(--bold);

    color: #fff;
    background: url('../images/tariff-rectangle.svg') 50% 0  no-repeat;
    background-size: 80%;
    text-align: center;
    transition: 0.3s;
}

.prices__tariff:hover .prices__tariff-h2 {
    background: url('../images/peach-tariff-rectangle.svg') 50% 0  no-repeat;
    background-size: 80%;
    transition: 0.3s;
}

.prices__p {
    padding: 19px 5px;

    font-size: var(--text-14);

    border-top: 1px solid var(--middleDirtyWhite);
}

.prices__tariff :nth-child(2){
   border-top: 0px solid transparent;
}

.prices__order-btn.common-btn_peach {
    position: absolute;
    width: 88%;
    bottom: 74px;
    left: 6%;
    padding: 16px;

    font-size: var(--text-15);

    background-color: var(--dirtyRosyBrown) ;
    transition: 0.3s;

}

.prices__tariff:hover .prices__order-btn.common-btn_peach {
    background-color: var(--peach) ;
    transition: 0.3s;
}

.prices__more-btn {
    position: absolute;
    width: 80%;
    bottom: 30px;
    left: 10%;

    font-family: var(--bold);
    font-size: var(--text-14);

    color: var(--NewYorkPink);
    text-decoration: none;
}

/* 7.2.PRICES TARIFFS END */

/* 7.PRICES END */

/* 11.MAIN PAGE MEDIA START */

/* 1140px */

@media(max-width: 1140px) { 
    .prices__tariffs {
        margin: 52px auto;
        width: calc(100% - 68px);
    } 

    .prices__tariff,
    .prices__tariff:first-child {
        margin: 0 30px 30px;
        margin-bottom: 30px;
    }

   .prices  .slick-list {
        margin: 0 -30px;
        max-width: 100vw;
    }

    .prices__tariff-h2,
    .prices__tariff:hover .prices__tariff-h2 {
        padding: 30px 0 50px;

        background-size: contain;
    }

    .prices__order-btn.common-btn_peach {
        width: 52%;
        left: 24%;
    }

    .prices__tab a {
        padding: 0 14px 30px;

        font-size: var(--text-20);
    }
}


/* 673px */
@media(max-width: 673px) { 
    .prices__tariff-h2,
    .prices__tariff:hover .prices__tariff-h2 {
        padding: 20px 0 30px;
    }

    .prices__tariff-h2 {
        margin: -2px 0 10px;
    }

    .common-p.prices__p {
        padding: 10px 5px;
    }

    .prices__tariff {
        padding: 0 17px 110px;
    }

    .prices__order-btn.common-btn_peach {
        bottom: 54px;
        width: 40%;
        left: 30%;
    }

    .prices__more-btn {
        bottom: 20px;
    }

    .home .licenses {
        margin: 40px auto 0;
    }
}

/* 460px */
@media(max-width: 460px) { 
    .prices__tab a {
        font-size: var(--text-15);
    }

    .prices__tariffs {
        margin: 30px auto;
        width: calc(100% - 40px);
    } 

    .prices__tab a {
        padding: 0 14px 20px;

        font-size: var(--text-15);
    }

    hr.prices__active-tab {
        height: 2px;
    }

    .prices__tariff-h2, .prices__tariff:hover .prices__tariff-h2 {
        padding: 20px 0;
    }


    .prices__tariff:hover .prices__tariff-h2,
    .prices__tariff-h2 {
        transition: 0s;
    }

    .prices__tariff-h2 {
        font-size: var(--text-14);
    }

    .common-p.prices__p {
        line-height: 150%;
    }

    .prices .slick-list {
        margin: 0;
    }

    .prices__tariff, .prices__tariff:first-child {
        margin: 0 0 30px;
    }
}

/* 380px */
@media(max-width: 380px) {
    .prices__order-btn.common-btn_peach {
        width: 48%;
        left: 27%;
    }
}


/* 11.MAIN PAGE MEDIA END */
